.vs
*/bin
*/obj
GestionAcademica.API/appsettings.Development.json
.idea
GestionAcademica.Client/package-lock.json
GestionAcademica.API/Models/GestionAcademicaContext.cs

*/node_modules
/node_modules
package-lock.json
GestionAcademica.sln.DotSettings.user
GestionAcademica.Client/.env

/GestionAcademica.API/uploads
